version: '3.3'

services:
    jenkins:
    image: jenkins/jenkins:jdk17
    volumes:
      - ./casc.yaml:/var/jenkins_home/casc.yaml
      - ./plugins.txt:/usr/share/jenkins/ref/plugins.txt
      - ./seedjob.groovy:/usr/local/seedjob.groovy
    networks:
      - devnet
    ports:
      - '8080:8080'
      - '8084:8084'
      - '50000:50000'

    environment:
      #Set Jenkins Installation Options
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

      #Set Jenkins Environment Variables
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml
    build:
      context: .
      dockerfile: Dockerfile

  sonarqube:
    image: sonarqube:9.9-community

    networks:
      - devnet
    ports:
      - '9000:9000'
    depends_on:
      - db
    environment:
      - sonar.jdbc.username=sonar
      - sonar.jdbc.password=sonar
      - sonar.jdbc.url=jdbc:postgresql://db:5432/sonarqube
      - SONAR_FORCEAUTHENTICATION=FALSE
  db:
    image: postgres
    networks:
      - devnet
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonarqube

networks:
  devnet:
    driver: bridge