version: '3.3'

networks:
  devnet:
    driver: bridge

services:
  jenkins:
    image: jenkins/jenkins:jdk17

    #Configure Network & Ports
    ports:
      - '8080:8080/tcp'
      - '50000:50000/tcp'
    networks:
      - devnet
      
    environment:
      #Set Jenkins Installation Options
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

      #Set Jenkins Environment Variables
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yaml

    #Mount Config Files
    volumes:
      - ./casc.yaml:/var/jenkins_home/casc.yaml
      - ./seedjob.groovy:/usr/local/seedjob.groovy
      - ./plugins.txt:/usr/share/jenkins/ref/plugins.txt
    
    #Execute Plugin Install
    command: > 
      jenkins-plugin-cli --plugin-file /usr/share/jenkins/ref/plugins.txt
